@mixin border {
  border: 1px solid #0e0e0e;
}

body {
  font-size: 24px;
  width: 100vw;
}

table {
  width: 50%;
  @include border;
  border-collapse: collapse;

  th, td {
    @include border;
    line-height: 2em;
    padding-left: 30px;
  }

  tr:nth-child(2n+2) {
    background-color: lightgrey;
  }
}
